<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">
  <div class="starter-template">
    <input type="text" [formControl]="name">
    <form class="form-signin" [formGroup] ="studForm">
      <img class="mb-4  " src="http://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Student App</h1>
      <label for="studid" class="sr-only">Student ID</label>
      <input name="sID" type="text" id="studid" class="form-control" placeholder="Student ID" required autofocus formControlName="studId">
      <label for="studname" class="sr-only">Password</label>
      <input name="sName" type="text" id="studname" class="form-control" placeholder="Studen Name" required  formControlName="studName">
      <label for="sDest" class="sr-only">Password</label>
      <input name="sDest" type="text" id="sDest" class="form-control" placeholder="Studen Destinction" required  formControlName="studDest">
      <label for="sGrade" class="sr-only">Password</label>
      <input name="sGrade" type="text" id="sGrade" class="form-control" placeholder="Studen Name" required  formControlName="studGrade">
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!studForm.valid">Submit</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
    <form class="form-signin" [formGroup] ="profileForm">
      <img class="mb-4  " src="http://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
      <label for="studid" class="sr-only">Student ID</label>
      <input name="sID" type="text" id="studid" class="form-control" placeholder="First Name" required autofocus formControlName="fName">
      <label for="studname" class="sr-only">Password</label>
      <input name="sName" type="text" id="studname" class="form-control" placeholder="Last Name" required  formControlName="lName"> 
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!studForm.valid">Sign up</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
    <div>Student form: {{ studForm.value | json}}</div>
    <div>Profile form: {{ profileForm.value | json}}</div>
  </div>

</main>