<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h3>ngIf</h3>
  <div *ngIf="isServiceUnavailable then srvcUnaviblBlk; else elseBlk">
      Nothing inside this get rendered !
  </div>
  <ng-template #srvcUnaviblBlk>
    <div class="info">
      Service unavailable at this moment. Please call 124-234-5432, or reach us at abc@xyz.com.
    </div>
  </ng-template>
  <ng-template #elseBlk>
    Your remaing content goes here !
  </ng-template>
  Savings Account Balance
  <div *ngIf="isServiceUnavailable then srvcUnaviblBlk; else savingsBlock">
    nothign rendered here..
  </div>
  <ng-template #savingsBlock>
    Savings account goes here !
  </ng-template>
  <hr/>
  <h3>ngFor</h3>
  <ul  style="text-align:left">
    <li *ngFor="let developer of plInventors">
      {{ developer }}
    </li>    
  </ul>
  <hr/>
<table>
  <tr>
    <th>S.No</th>
    <th>Student ID</th>
    <th>Student Name</th>
    <th>Student Destinction</th>
  </tr>
  <tr *ngFor="let stud of students, let i = index" [ngClass]=" { 'dist' : stud.sDistinction } ">
    <td>{{ i+1 }}</td>
    <td>{{ stud.sId }}</td>
    <td>{{ stud.sName }}</td>
    <td >{{ stud.sDistinction ? "Yes" : "No" }}</td> 
  </tr>
</table>
<hr/>
<button (click)="addStudent()" >Add Student</button>
<table>
    <tr>
        <th>S.No</th>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Student Destinction</th>
      </tr>
      <tr *ngFor="let stud of studentsArr, let i = index" [ngClass]=" { 'dist' : stud.studDestinction } ">
        <td>{{ i+1 }}</td>
        <td>{{ stud.studId }}</td>
        <td>{{ stud.studName }}</td>
        <td >{{ stud.studDestinction ? "Yes" : "No" }}</td> 
      </tr>
</table>
</div>